.tableRow a {
    margin-right: 5px;

    font-size: 18px;

    color: #000000;
    text-decoration: none;
}

.tableRow td:not(:first-child) {
    text-align: center;
}

.tableRow td {
    padding: 15px;
}

.tableRow:nth-child(even) {
    background-color: #c5c0c0;
}

[colspan="3"] {
    text-align: center;
}